<header class="fixed-top dark_theme light_border_b">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h1>Blo-ang-dashboard</h1>
      </div>
      <div
        class="d-flex justify-content-between align-items-center col-md-4 col-sm-12"
        *ngIf="isLoggedIn$ | async"
      >
        <p class="pb-0 pt-3 text-white">
          <b>{{ userEmail }}</b>
        </p>
        <button class="btn-prim-lg mt-0 w-sm-100" (click)="onLogout()">
          Logout
        </button>
      </div>
    </div>
  </div>
</header>
