<div class="container">
  <div class="row d-flex justify-content-center">
    <div
      class="prim_theme col-md-3 col-sm-5 text-center mx-2 mb-2 pt-4 add"
      routerLink="/categories"
    >
      <i class="fa fa-list-alt fa-2x" aria-hidden="true"></i>
      <h2 class="text-uppercase">Category</h2>
      <p class="text-uppercase"><b>Click to add category...</b></p>
    </div>
    <div
      class="prim_theme col-md-3 col-sm-5 text-center mx-2 mb-2 pt-4 add"
      routerLink="/posts"
    >
      <i class="fa fa-file-image fa-2x" aria-hidden="true"></i>
      <h2 class="text-uppercase">Posts</h2>
      <p class="text-uppercase"><b>Click to see all posts...</b></p>
    </div>
    <div
      class="prim_theme col-md-3 col-sm-5 text-center mx-2 mb-2 pt-4 add"
      routerLink="/subscribers"
    >
      <i class="fa fa-users fa-2x" aria-hidden="true"></i>
      <h2 class="text-uppercase">Subscribers</h2>
      <p class="text-uppercase">
        <b>Click to see and manage all subscribers...</b>
      </p>
    </div>
  </div>
</div>
