<div class="container">
  <h2 class="text-center text-uppercase mt-4">All Posts</h2>
  <p>You can mage your posts content from here...</p>

  <div
    class="d-flex justify-content-center align-items-center"
    routerLink="/post/new"
  >
    <button class="btn-sub" routerLink="/post/new">
      Add new post<i class="fas fa-plus ml-1"></i>
    </button>
    <button class="btn-prim-lg ml-2" routerLink="/">
      Back to dashboard<i class="fas fa-sign-out-alt ml-1"></i>
    </button>
  </div>
  <div class="row">
    <div class="col-md-12 light_theme mt-4">
      <table class="table row-border hover">
        <thead>
          <tr>
            <th>N0</th>
            <th>Title</th>
            <th>Excerpt</th>
            <th>Category</th>
            <th>Post Img</th>
            <th>Content</th>
            <th>Date</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let post of postArray; let i = index">
            <td [width]="10">{{ i + 1 }}</td>
            <td [width]="200">{{ post.data.title }}</td>
            <td [width]="300">{{ post.data.excerpt }}</td>
            <td>{{ post.data.category.category }}</td>
            <td [width]="200">
              <img
                src="{{ post.data.pathPostImg }}"
                alt="post image"
                class="img img-fluid"
              />
            </td>
            <td>{{ post.data.createdAt.toMillis() | date }}</td>
            <button
              class="btn btn-sm btn-warning"
              routerLink="/post/new"
              [queryParams]="{ id: post.id }"
            >
              EDIT
            </button>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
